<!DOCTYPE html>
<html>
  <head>
    <title>新增页面</title>
     <link rel="stylesheet" type="text/css" href="/express/views/css/bootstrap.css">
  </head>
  <body>
    <div id="container">
      <div class="inputs">
        <label>名称：</label>
        <input type="text" id="name">
      </div>
      <div class="inputs">
        <label>首页URL：</label>
        <input type="text" id="url">
      </div>
      <div class="inputs">
        <label>Tags：</label>
        <input type="text" placeholder="多个tag用逗号隔开" id="tags">
      </div>
      <div class="btnGroups">
          <button id="submit">确认添加</button>
          <button>重置</button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/express/views/js/jquery.js"></script>
  <script>
    $(document).ready(function () {
      $("#url").on("change",function(){
        var url = $("#url").val();
        $.post({
          url:"/validate/exists",
          data:{
            "url":url
          },
          success: function(existd){
            if(existd){
              alert( "验证成功");
            }else{
              alert( "验证失败");
            }
          }
        })
      })
      $("#submit").on("click",function(){
        var name = $("#name").val();
        var url = $("#url").val();
        var tags = $("#tags").val();
        $.post({
          url:"/pages/edit/submit",
          data:{
            "name":name,
            "url":url,
            "tags":tags
          },
          success: function(msg){
            if(msg.result.ok){
              window.location.href="/pages/show";
            }else{
              alert( "添加失败");
            }
          }
        })
      })
    })

  </script>
</html>
