<!DOCTYPE html>
<html>
  <head>
    <title>新增页面</title>
     <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  </head>
  <body>
    <div id="container">
      <div class="inputs">
        <label>首页URL：</label>
        <input type="text">
      </div>
      <div class="inputs">
        <label>Tags：</label>
        <input type="text" placeholder="多个tag用逗号隔开">
      </div>
      <div class="btnGroups">
          <button>确认添加</button>
          <button>重置</button>
      </div>
    </div>
  </body>
</html>
